body {
    background-color: #f4f4f4;
    font-family: Arial;
    color: #333;
}
h1 {
    color: #0077cc;
}
button {
    background-color: #0077cc;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
}
